.motivacoes{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

 
}
.motivacoes__descricao{
  width: 100%;
  letter-spacing: 2px;
  line-height: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}
.motivacoes__descricao p{
 
  margin: 10px 0;
}

.motivacoes__descricao span{
  color: var(--vermelho);
  font-weight: 500;
}

@media screen and (min-width:710px) {

  .motivacoes p{
font-size: 1.2rem;
  line-height: 1.5rem;
  }
}
@media screen and (min-width:1200px) {

}
