.sobre{
  text-align: center;
  padding: 10px;
  background: var(--preto);
}
.sobre__descricao{
  margin-top: 20px;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

@media screen and (min-width:710px) {
  .sobre{
    text-align: center;
    padding: 10px;
    background: var(--preto);
  }
  .sobre__descricao{
    margin-top: 20px;
    letter-spacing: .6rem;
    line-height: 2rem;
  }
  
}
@media screen and (min-width:1200px) {
  .cabecalho{
    width: 100%;
    border: 1px solid rgb(125, 19, 19);
  
  }
}
