:root{
  --vermelho:#e53939;
  --preto:#000000;
  --branco:#ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
<<<<<<< HEAD
  background:url('https://images.unsplash.com/photo-1535868463750-c78d9543614f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJldG8lMjBlJTIwdmVybWVsaG8lMjBsYW1wYWRhfGVufDB8fDB8fHww')no-repeat fixed center / cover ;
=======
  background:url("https://images.unsplash.com/photo-1535868463750-c78d9543614f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJldG8lMjBlJTIwdmVybWVsaG8lMjBsYW1wYWRhfGVufDB8fDB8fHww")no-repeat fixed center / cover ;
>>>>>>> e56ccd6 (adicionado white mode)
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.container{
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.conteudo{
  width: 100%;
}
.sesso , section{
  width: 100%;
  margin-bottom:  5rem ;
<<<<<<< HEAD
  height:100vh;
  background: linear-gradient(180deg,transparent ,var(--preto) );
=======
  height: 100vh;

>>>>>>> e56ccd6 (adicionado white mode)
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h2{
  text-align: center;
  padding: 20px;
}
.mode{
    top: 3.5rem;
    left: 3rem;
    position: fixed;
    z-index: 1;
}
.darkMode{
      background: linear-gradient(180deg,transparent ,var(--preto) );
   color: var(--branco);
}
.darkMode a{   
   color: var(--branco);
}

.whiteMode{
    background: var(--branco);
    color: var(--preto);
}
.whiteMode a{
   
    color: var(--preto);
}

.whiteMode a:hover{
    
    color: var(--vermelho);
}
span, 
.darkMode span a{
  color: var(--vermelho);
}
@media screen and (min-width:700px) {

}
@media screen and (min-width:1000px) {
 
}



@keyframes movimento {
  from{
  opacity: 0 ;

  }
  to{
    opacity: 1;
  }
}
