.rodape{
display: flex;
flex-direction: column-reverse;
  background: var(--preto);
text-align: center;
}
.rodape__lista{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.rodape__lista a{
  color: var(--branco);
  cursor: pointer;
  font-style: italic;
  padding-left: 5px;
}
.rodape__lista a:hover{
  color: var(--vermelho);
}
.rodape__lista a:visited{
  color: var(-vermelho);
}

@media screen and (min-width:710px) {
  .rodape__lista  a ,p{
   font-size: 1rem;
  }
  .rodape__lista i{

    margin-right: 10px;
  }
}
@media screen and (min-width:1200px) {
 
}
