.perfil{
  width: 100%;
 height: calc(100vh -2rem);
 background: var(--preto);
}

.perfil__foto{
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  
}
.perfil__foto img{
  width: 100%;
  
}
.perfil__dados{
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;

  font-size: 1.2rem;
  color: var(--branco);
}
.perfil__dados p{
  margin-left: 10px;
}