:root{
  --vermelho:#e53939;
  --preto:#000000;
  --branco:#ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  background:url('/src/img/bg.webp')no-repeat fixed center / cover ;
  height: 100vh;
  color: var(--branco);
  font-family: "Montserrat", sans-serif;
}


.sessao{
  margin: 10rem 0;
  height: 100vh;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h2{
  text-align: center;
  padding: 20px;
}
span, span a{
  color: var(--vermelho);
}


@media screen and (min-width:700px) {
 .sessao{
  font-size: 2rem;
 }
}
@media screen and (min-width:1200px) {
  .cabecalho{
    width: 100%;
    border: 1px solid rgb(125, 19, 19);
  
  }
}



@keyframes movimento {
  from{
  opacity: 0 ;

  }
  to{
    opacity: 1;
  }
}